<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Open Weather</title>
  </head>
  <body>
    <div class="app-wrap">
      <header>
        <form action="/" method="post">
          <input
            type="text"
            autocomplete="off"
            class="search-box"
            name="cityname"
            placeholder="Search for a city..."
          />
          <button class="btn" type="submit">Go</button>
        </form>
      </header>
      <main>
        <% if(myCountry!==''){ %>
        <section class="location">
          <div class="date"><%= day %></div>

          <div class="city"><%= myCity %> , <%= myCountry %></div>
        </section>

        <div class="current">
          <div class="temp"><%= myTemp %> <span>°c</span></div>
          <div class="my-icon">
            <img class="my-img" src="<%= myIcon %>" alt="" />
          </div>
          <div class="weather"><%= weatherDesc %></div>
          <div class="hi-low"><%= myTempMin %> °c / <%= myTempMax %> °c</div>
        </div>
        <% } else { %>
        <section class="location">
          <div class="date"><%= day %></div>

          <div class="city"><%= myCity %></div>
        </section>
        <% } %>
      </main>
    </div>
  </body>
</html>
